.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#container{
  width: 400px;
  background-color: aquamarine;
  padding: 20px;
}

input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

ul,li{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.list{
  margin: 15px 0;
}
.list > li{
  background-color: bisque;
  padding: 5px;
  margin-bottom: 2px;
  text-align: center;

}


